<% if notification.read %>
  <li class="notification">
    <span>
      <% if notification.notifiable_type == "Comment" %>
        <%= link_to t(".commented", sender: notification.user.name),
          song_path(notification.notifiable_id) %>
      <% else %>
        <%= link_to t(".liked", sender: notification.user.name),
          song_path(notification.notifiable.likeable.id) %>
      <% end %>
    <span>
  </li>
  <% else %>
  <li class="notification unread">
    <span>
      <% if notification.notifiable_type == "Comment" %>
        <%= link_to t(".commented", sender: notification.user.name),
          notification_path(notification.id), method: :patch %>
      <% else %>
        <%= link_to t(".liked", sender: notification.user.name),
          notification_path(notification.id), method: :patch %>
      <% end %>
    <span>
  </li>
<% end %>
