@import 'color.scss';

body {
  background: $midnightblue;
  a {
    color: $silver;
    &:hover {
      text-decoration: none;
      color: orange;
    }
  }
}
/*---------------Nav-Top---------------*/
.nav-top {
  padding: unset;
  background: $darkslategray;
  height: 50px;
}

.div-collapse {
  height: 40px;
  margin-left: -17px;
}

nav {
  background: $gray
}

.home-link {
  width: 100px;
}

.search-box {
  width: 480px;
}

.upload-txt:hover {
  color: $red
}

.divider {
  height: 1px;
  background: $gray-light;
}

dropdown-account {
  background: $red;
}

.up-size {
  width: 130px;
}

.ds-list {
  width: 150px
}
/*--------------End-nav-top------------*/
/*--------------Nav-2------------------*/

.nav-2 {
  background: $darkslategray-light;
  padding: unset
}

.nav-2 .nav-link {
  color: $lightslategray;
  &:hover {
    color: $mediumturquoise;
    border-bottom: 2px solid $mediumturquoise;
  }
}

.nav-2 li {
  margin-right: 20px;
  color: $lightslategray;
}

.hot-music {
  position: relative;
}

a {
  display: block;
}
/*--------------End-Nav-2------------*/
/*--------------Form-----------------*/
input, textarea, select, .uneditable-input {
  border: 1px solid $gainsboro;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px;
  }
}
/*--------------End-Form---------------*/

/*--------------Playlist---------------*/
ol {
  list-style-type: none;
}

ol li {
  width: 200px;
  height: 200px;
  float: left;
  background-image: url("https://res.cloudinary.com/trunghc/image/upload/v1545576012/Screenshot_from_2018-12-23_21-39-34.png");
  background-size: cover;
  margin: 0 3px 3px;
  text-align: center;
  opacity: 0.8;
  &:hover {
    opacity: 0.6;
    h5 {
      color: $red
    }
  }
}

ol li h5 {
  height: 115px;
}

.bg-create-playlist {
  background: $gray-light;
}
/*--------------End-Playlist-----------*/
/*--------------Search-----------------*/
.search-button {
  display: none;
}

.search {
  border-radius: 10px;
  margin-top: 5px;
  padding-left: 15px;
}
/*--------------End-Search-----------------*/
/*--------------Song-------------------*/
.song-title {
  display: flex;
  font-size: 25px;
  margin-bottom: 5px;
}
.song-singer {
  display: flex;
  font-size: 15px;
  margin-bottom: 5px;
}
.song-view {
  font-size: 15px;
}

audio {
  width: 100%;
  height: 80px;
}

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $gray-light;
  }
  .content {
    display: block;
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .gravatar {
    float: left;
    width: 80px;
    height: 80px;
    margin: 5px 0 0 10px;
  }
}

.genre {
  display: inline-block;
  margin-bottom: 5px;
}


.notice {
  color: black;
}

.vietnam-flag {
  border-bottom: 1px solid $gray;
  float: left;
}

/*--------------End-Song-------------------*/
/*--------------Paginate---------------*/
.pagination {
  background: $midnightblue
}
/*--------------End-Paginate-----------*/
/*--------------Slider-----------------*/
.slide {
  margin-top: 20px;
}

.slide img {
  border-radius: 5px
}
/*--------------End-slider-------------*/
/*--------------Just-for-u-------------*/
.just-for-u {
  width: 100%;
  height: 100%;
  background-color: $darkslategray;
  margin: 20px 0 20px 0;
  height: 180px;
  .title {
    height: 35px;
    line-height: 35px;
    size: 13px;
    color: $gainsboro;
    width: inherit;
    background-color: $darkslategray-light;
    padding: 0 10px;
    position: relative;
  }
  .list-items {
    padding: 0 10px;
    background-color: $darkslategray;
    height: 275px;
    overflow-y: scroll;
    .items {
      height: 52px;
      border-bottom: rgba(255, 255, 255, 0.03) solid 1px;
      padding: 10px 0;
      .present {
        display: inline-block;
        height: 35px;
        width: 216px;
        overflow: hidden;
        .name {
          font-size: 14px;
          line-height: 17px;
          color: $gainsboro;
          margin-top: 3px;
        }
      }
      .avatar {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 8px;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $dimgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:$gainsboro;
}

.card {
  background: $midnightblue;
  border: unset;
  display: inline-block;
  margin-right: 10px
}

.card:hover {
  opacity: 0.6;
}

.hot-song .icon-play {
  display: none;
}
/*--------------End-Just-for-u-------------*/

/*--------------Footer-----------------*/
footer {
  background: $black;
  height: 100px;
  width: 100%;
  margin-top: 10px;
}

.content {
  ul {
    padding: 10px;
    li {
      list-style: none;
      display: flex;
      margin: 10px 0;
    }
  }
}

.asb {
  opacity: 0.7;
}

.asb:hover {
  opacity: 1;
}

.modal-add-playlist {
  color: $black;
}

.rotate-img {
  -webkit-animation: rotation 2s infinite linear;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.account {
  width: 122px;
}

.all-song {
  border-style: inset;
  border-color: white;
  padding: 10px;
  background-color: $black-light;
  border-radius: 10px;
}

.index-recommend {
  .list-items {
    height: 650px;
  }
}

.show-recommend {
  .list-items {
    min-height: 365px;
  }
}

.index {
  min-height: 1000px
}

.count-song {
  color: white;
}

.social-share-button .ssb-icon {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 44px 46px !important;
  display: inline-block !important;
  height: 40px !important;
  width: 50px !important;
}
.social-share-button {
  right: 1px;
  top: 0px;
}


.notification {
  width: 300px
}

.list-genres {
  img {
    width: 180px;
  }
  .item {
    width:190px;
    height: 245px;
  }
}

.dropdown-menu {
  border: solid gray;
  border-radius: 10px;
  left: -15px;
  a {
    padding-left: 5px;
    padding-bottom: 0px
  }
}

.song-img {
  img{
    width: 150px;
  }
}

.space {
  padding-left: 5px;
}

.min-height {
  min-height: 500px;
}

.lyrics {
  border: solid gray;
  padding: 5px 10px;
  border-radius: 5px;
}

.text-lyrics {
  color: green;
  font-style: italic;
  font-size: 25px;
}

.content-lyrics {
  word-wrap: break-word;
}

.require {
  &::after {
    color: $red;
    content: ' *';
  }
}

.notify {
  height: 40px;
  background-color: $silver;
  display: flex;

  .notify-text {
    margin: auto auto;
  }
}
